doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Sign Up
    // Bootstrap core CSS
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
    // Custom styles for this template
    style
      include ./css/styles.css
  body.text-center
    form.form-signin(action='/' method='post')
      img.mb-4(src='/images/logo.png' alt='logo' width='140' height='200')
      h1.h3.mb-3.font-weight-normal Become A Donor 
      input.form-control.top(type='text' name='' placeholder='Name' required='' autofocus='')
      input.form-control.middle(type='email' name='' placeholder='Email' required='')
      input.form-control.middle(type='number' name='' placeholder='id number' required='')
      input.form-control.middle(type='password' name='' placeholder='Password' required='')
      input.form-control.bottom(type='password' name='' placeholder='Confirm Password' required='')
      select.form-control.custom-select(name='bloodType' required='')
        optgroup(label='Blood Type')
          option(value='' disabled='' selected='' hidden='') Blood Type
          option(value='') A+
          option(value='') A-
          option(value='') B+
          option(value='') B-
          option(value='') O+
          option(value='') O-
          option(value='') AB+
          option(value='') AB-
      p
        | By signing up you agree to our 
        a(href='#' style='color:dodgerblue') Terms & Conditions
        | .
      button.btn.btn-lg.btn-danger.btn-block(type='submit') Sign Up
      p.mt-5.mb-3.text-muted © 2021
